# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/

# Build output
dist/
build/

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm/

# Optional eslint cache
.eslintcache

# Coverage directory used by tools like istanbul
coverage/

# Debug files
*.tgz

# Local env files
.env.local
.env.development.local
.env.test.local
.env.production.local
